<?xml version="1.0"?>
<model>
  <name>rover</name>
  <version>1.0</version>
  <sdf version='1.5'>diff_rover.sdf</sdf>
  <license>https://github.com/aionrobotics/aion_io/blob/master/LICENSE.txt</license>

  <author>
   <name>My name</name>
  </author>

  <description>
    This is a model for the UGV rover.
  </description>
</model>
