#!/usr/bin/env python
PACKAGE = "px4_air"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "if optical flow enabled", True)

exit(gen.generate(PACKAGE, "px4_air", "Flow"))
