<?xml version="1.0"?>
<launch>

    <arg name="fcu_conn" default="usb"/>
    <arg name="fcu_ip" default="127.0.0.1"/>
    <arg name="gcs_bridge" default="tcp"/>
	<!-- Pixhawk setup -->
    <include file="$(find px4_air)/launch/1setup.launch">
		<arg name="fcu_conn" default="$(arg fcu_conn)"/>
		<arg name="fcu_ip" default="$(arg fcu_ip)"/>
		<arg name="gcs_bridge" default="$(arg gcs_bridge)"/>
    </include>

    <!-- Missions by preloaded waypoints -->
    <arg name="node_start_delay" default="15.0" />  
    <node pkg="px4_ground" type="mavros_mission_px4.py" name="mavros_mission_px4" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'">
    </node>

    <!-- Optional missions -->
	<!-- <node pkg="px4_ground" type="circular_node" name="circular_node" output="screen">
		<param name="desire_z" value = "1"/>			
		<param name="desire_Radius" value = "1"/>		
	</node> -->

    <!-- <node pkg="px4_ground" type="position_to_mavros_node" name="position_to_mavros_node" output="screen" >
        <param name="target_frame_id" value="camera_odom_frame" />
        <param name="source_frame_id" value="camera_pose_frame" />
        <param name="output_rate" value="30" />
        <param name="roll_obj"          value="0" />
        <param name="pitch_obj"         value="0" />
        <param name="yaw_obj"           value="0" />
    </node> -->

	<!-- <node pkg="px4_ground" type="ros_nav_quadrotor_node" name="ros_nav_quadrotor_node" output="screen">
		<param name="desire_posz_" value = "1"/>				
	</node> -->


	<!-- Tag tracking node -->
	<node pkg="tf" type="static_transform_publisher" name="tf_camera"
			args="0 0 0 -1.57 0 0 main_camera_optical main_camera_tag 10"/>

	<arg name="marker_size" default="40" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/main_camera/image_raw" />
	<arg name="cam_info_topic" default="/main_camera/camera_info" />
	<arg name="output_frame" default="/main_camera_tag" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>


	<!-- Precision Landing node -->
	<node pkg="px4_ground" type="landing_quadrotor_node" name="landing_quadrotor_node" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'">
	</node>

</launch>