<?xml version="1.0"?>
<launch>

    <arg name="fcu_conn" default="usb"/>
    <arg name="fcu_ip" default="127.0.0.1"/>
    <arg name="gcs_bridge" default="tcp"/>
	<!-- Pixhawk setup -->
    <include file="$(find px4_air)/launch/0setup.launch">
		<arg name="fcu_conn" default="$(arg fcu_conn)"/>
		<arg name="fcu_ip" default="$(arg fcu_ip)"/>
		<arg name="gcs_bridge" default="$(arg gcs_bridge)"/>
    </include>

    <!-- Missions by preloaded waypoints -->
    <node pkg="px4_ground" type="mavros_mission_px4.py" name="mavros_mission_px4" output="screen">
    </node>

    <!-- Optional missions -->
	<!-- <node pkg="px4_ground" type="circular_node" name="circular_node" output="screen">
		<param name="desire_z" value = "1"/>			
		<param name="desire_Radius" value = "1"/>		
	</node> -->

    <!-- <node pkg="px4_ground" type="position_to_mavros_node" name="position_to_mavros_node" output="screen" >
        <param name="target_frame_id" value="camera_odom_frame" />
        <param name="source_frame_id" value="camera_pose_frame" />
        <param name="output_rate" value="30" />
        <param name="roll_obj"          value="0" />
        <param name="pitch_obj"         value="0" />
        <param name="yaw_obj"           value="0" />
    </node> -->

	<!-- <node pkg="px4_ground" type="ros_nav_quadrotor_node" name="ros_nav_quadrotor_node" output="screen">
		<param name="desire_posz_" value = "1"/>				
	</node> -->

</launch>