<launch>

    <arg name="main_camera" default="true"/>
    <!-- main camera -->
    <include file="$(find px4_air)/launch/0main_camera.launch" if="$(arg main_camera)">
        <arg name="fcu_conn" default="sitl" />
    </include>



   <arg name="aruco" default="true"/>
   <arg name="force_init" default="true"/>
    <!-- aruco markers -->
    <include file="$(find aruco_pose)/launch/aruco.launch" if="$(eval aruco)">
        <arg name="force_init" value="$(arg force_init)"/>
        <arg name="disable" value="$(eval not aruco)"/>
    </include>

</launch>