<launch>

    <arg name="main_camera" default="true"/>
    <!-- main camera -->
    <include file="$(find px4_air)/launch/0main_camera.launch" if="$(arg main_camera)">
        <arg name="fcu_conn" default="usb" />
    </include>



   <arg name="optical_flow" default="false"/>
    <!-- optical flow -->
    <node pkg="nodelet" type="nodelet" name="optical_flow" args="load px4_air/optical_flow main_camera_nodelet_manager" if="$(arg optical_flow)" clear_params="true" output="screen" respawn="true">
        <remap from="image_raw" to="main_camera/image_raw"/>
        <remap from="camera_info" to="main_camera/camera_info"/>
        <param name="calc_flow_gyro" value="true"/>
        <param name="roi_rad" value="0.8"/>
        <param name="disable_on_vpe" value="false"/>
    </node>

   <arg name="aruco" default="true"/>
   <arg name="force_init" default="false"/>
    <!-- aruco markers -->
    <include file="$(find aruco_pose)/launch/aruco.launch" if="$(eval aruco)">
        <arg name="force_init" value="$(arg force_init)"/>
        <arg name="disable" value="$(eval not aruco)"/>
    </include>

</launch>