<?xml version="1.0"?>
<launch>
	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>

	<!-- Any world: empty, flat, city, forest etc -->
    <arg name="world" default="$(find px4_sim)/worlds/empty.world"/>
	<!-- Start Gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="$(arg paused)"/>
		<arg name="world_name" default="$(arg world)" />
		<arg name="gui" value="$(arg gui)"/>
		<arg name="verbose" value="true"/>
	</include>


	<!-- any vehicle: iris, diff_rover, avia_vtol, typhoon_h480 etc -->
	<arg name="vehicle" default="frame450"/>
	<arg name="arena" default="$(find px4_sim)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
  	<node name="sdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-file $(arg arena) -sdf -z 0.15 -model $(arg vehicle)" />

    <!-- box1kg or box10kg -->
    <arg name="box_activate" default="false"/>
    <arg name="box" default="box1kg"/> 
    <!-- box spawner. To make this work you need to unpause enviroment manually -->
	<arg name="arena2" default="$(find px4_sim)/models/$(arg box)/$(arg box).sdf"/>
  	<node name="sdf_spawner2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" if="$(eval box_activate)"
        args="-file $(arg arena2) -sdf -z 0.45 -model $(arg box)" 
    />


	<!-- <node pkg="tf" type="static_transform_publisher" name="base_link_odom" args="0 0 0 1.571 0 0 /map /chassis 100" /> -->
	<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<param name="robot_description" command="$(find px4_sim)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
		<param name="publish_frequency" type="double" value="20" />
	</node> -->
	<!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/> -->


	<!-- Wind plugin -->
	<!-- <arg name="node_start_delay" default="10.0" />  
    <node pkg="px4_sim" type="wind.py" name="offb_node_py" output="screen"  launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
		<param name="vehicle_name" value="$(arg vehicle)" />
	</node> -->

</launch>
