<?xml version="1.0"?>
<launch>

    <arg name="fcu_conn" default="usb"/>
    <arg name="fcu_ip" default="127.0.0.1"/>
    <arg name="gcs_bridge" default="tcp"/>
	<!-- Pixhawk setup -->
    <include file="$(find px4_ground)/launch/0setup.launch">
        <arg name="fcu_conn" default="$(arg fcu_conn)"/>
        <arg name="fcu_ip" default="$(arg fcu_ip)"/>
        <arg name="gcs_bridge" default="$(arg gcs_bridge)"/>
    </include>

    <!-- Keyboard control node -->
    <arg name="node_start_delay" default="15.0" />  
    <node pkg="px4_ground" type="keyboard_control_rover_px4.py" name="PX4_control" required="true" output="screen" launch-prefix="xterm -e bash -c 'sleep $(arg node_start_delay); $0 $@'" />

</launch>