<?xml version="1.0"?>
<launch>


		<!-- Our node to control the drone -->
    <node pkg="clover" type="mavros_offboard_posctl_test.py" name="offb_node_py" required="true" output="screen" />


		<!-- Our Aruco takeoff and landing -->
	<node pkg="clover" type="aruco_landing.py" name="offb_node_py" required="true" output="screen" />


		<!-- Wind plugin -->
    <!-- <node pkg="px4_ground" type="wind.py" name="offb_node_py" required="true" output="screen" /> -->

</launch>
<!-- Include the MAVROS node with SITL and Gazebo -->