<?xml version="1.0"?>
<launch>

    <arg name="fcu_conn" default="usb"/>
    <arg name="fcu_ip" default="127.0.0.1"/>
    <arg name="gcs_bridge" default="tcp"/>
	<!-- Pixhawk setup -->
    <include file="$(find px4_ground)/launch/1setup.launch">
        <arg name="fcu_conn" default="$(arg fcu_conn)"/>
        <arg name="fcu_ip" default="$(arg fcu_ip)"/>
        <arg name="gcs_bridge" default="$(arg gcs_bridge)"/>
    </include>

</launch>