<?xml version="1.0"?>
<launch>

  <arg name="fcu_conn" default="usb"/>
  <arg name="fcu_ip" default="127.0.0.1"/>
  <arg name="gcs_bridge" default="tcp"/>
  <arg name="config_yaml" default="$(find px4_ground)/launch/px4_config.yaml" />

  <!-- mavros -->
  <include file="$(find px4_ground)/launch/0mavros.launch">
      <arg name="fcu_conn" value="$(arg fcu_conn)"/>
      <arg name="fcu_ip" value="$(arg fcu_ip)"/>
      <arg name="gcs_bridge" value="$(arg gcs_bridge)"/>
      <arg name="config_yaml" value="$(arg config_yaml)"/>
  </include>

	<!-- Timer setup -->
	<arg name="node_start_delay" default="20.0" />  
  <!-- Node to control the rover -->
  <node pkg="px4_ground" type="follow_guests_node" name="follow_guests_node" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'" >
  </node>

</launch>