<?xml version="1.0"?>
<model>
  <name>Hexacopter</name>
  <version>1.0</version>
  <sdf version="1.5">frame550.sdf</sdf>

  <author>
   <name>Lorenz Meier</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the Hexa drone with mounted Intel Realsense module
  </description>
</model>
